* {
    box-sizing: border-box;
}

body {
    min-width: 700px;
}

table {
    width: 100%;
    border-spacing: 0px;
}

tr.red {
    background-color: red;
}

td {
    padding: 2px 0px;
    text-align: center;
}

td:nth-of-type(3) {
    text-align: left;
}

#status {
    color: #11dda9;
}

td.success {
    background-color: #1987ac;
    color: white;
    font-weight: bold;
    text-align: center;
}

td.info {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    text-align: center;
}

td.loading {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    animation: spin 2s linear infinite;
}

td>a {
    white-space: nowrap;
}

p.error {
    padding: 1em;
    background-color: #cc3329;
    color: white;
    font-weight: bold;
    text-align: center;
}

button {
    border-radius: 1px;
    border: none;
    margin: 0;
    padding: 7px 5px;
    position: relative;
    text-align: center;
    transition: all .1s;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    width: auto;
    cursor: pointer;
    display: inline-block;
    background-color: #2196F3;
}

button:hover {
    background-color: #0b7dda;
}

.btn-refresh {
    border: 1px solid rgb(216, 216, 216);
    border-left: none;
    padding: 4px 7px;
}

button:disabled {
    background: #dddddd !important;
}

i {
    font-size: 80%;
}

fieldset {
    border: none;
    background-color: #eee;
}

#search-box {
    position: relative;
}

#search-box input {
    border-radius: 25px;
    margin: 5px 0 5px 0;
    padding: 5px;
    width: 100%;
}

#search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

#toggl-api-token {
    width: 300px;
    float: left;
}

.jira-url {
    width: 300px;
}

.jira-issue-filter {
    width: 200px;
}

#jira-section i {
    font-size: 15px;
    margin-left: 3px;
}

#jira-section div {
    display: inline;
}

select, input {
    margin: 1px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popupText {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 18px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#jira-status {
    font-size: 11px;
}