* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    min-width: 700px;
}

table {
    width: 100%;
    border-spacing: 4px;
}

td {
    padding: 2px 0px;
    text-align: center;
}

td:nth-of-type(3) {
    text-align: left;
}

#status {
    color: #11dda9;
}

td.success {
    background-color: #1987ac;
    color: white;
    font-weight: bold;
    text-align: center;
}

td.info {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    text-align: center;
}

td>a {
    white-space: nowrap;
}

p.error {
    padding: 1em;
    background-color: #cc3329;
    color: white;
    font-weight: bold;
    text-align: center;
}

button {
    border-radius: 1px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    border: 1px solid transparent;
    margin: 0;
    padding: 7px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;
    font-size: 11px;
    color: #fff;
    margin-top: 5px;
    font-weight: 600;
    width: auto;
    cursor: pointer;
    display: inline-block;
    background-color: #448aff;
}

button#submit {
    background-color: #1987ac;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #5195d4), color-stop(100%, #1987ac));
    background-image: -moz-linear-gradient(#5195d4, #1987ac);
    background-image: -webkit-linear-gradient(#5195d4, #1987ac);
    background-image: linear-gradient(#5195d4, #1987ac);
    color: white;
}

button:hover {
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #eee));
    background-image: -moz-linear-gradient(#f5f5f5, #eee);
    background-image: -webkit-linear-gradient(#f5f5f5, #eee);
    background-image: linear-gradient(#f5f5f5, #eee);
    border-color: #e6e6e6;
    -moz-box-shadow: inset 0 -1px 0 #e6e6e6;
    -webkit-box-shadow: inset 0 -1px 0 #e6e6e6;
    box-shadow: inset 0 -1px 0 #e6e6e6;
    color: #595959;
}

button:disabled {
    background: #dddddd !important;
}

i {
    font-size: 80%;
}

fieldset {
    border: none;
    background-color: #eee;
}

#search-box {
    position: relative;
}

#search-box input {
    border-radius: 25px;
    margin: 5px 0 5px 0;
    padding: 5px;
    width: 100%;
}

#search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}